.App {
  text-align: center;
  color: blue;
  font-size: 1.5rem;
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header1"
    "nav1"
    "nav2"
    "main1";
  grid-template-rows: auto auto auto 1fr;
}

header {
  background-color: white;
}

.grid-top-nav {
  grid-template-areas: "article-users user";
}

.left-top-nav {
  text-align: left;
  grid-area: article-users;
}

.right-top-nav {
  text-align: right;
  grid-area: users;
}

.title-split {
  color: purple;
  grid-area: header1;
}

.top-nav {
  background-color: navy;
  color: white;
  text-align: center;
  font-size: 1rem;
  padding: 2px;
  grid-area: nav1;
}

.bottom-nav {
  background-color: rgb(54, 54, 228);
  text-align: center;
  color: white;
  font-size: 1rem;
  padding: 2px;
  grid-area: nav2;
}

.main {
  text-align: left;

  font-size: 1rem;
  grid-area: main1;
}

.article-list {
  list-style: none;
  background-color: white;
  font-size: 0.75rem;
  /* border-top: 5px solid rgb(155, 154, 154); */
  border-bottom: 10px solid rgb(155, 154, 154);
}

.single-article {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

ul {
  padding: 1px;
  margin: 0;
}

.top-nav-links a {
  color: white;
  text-decoration: none;
}

.article-tile-links a {
  color: blue;
  text-decoration: none;
}

.article {
  color: black;
}

.article-date {
  color: rgb(88, 88, 88);
}

.topic-author-heading {
  text-transform: capitalize;
}

.votes {
  border: 5px solid purple;
  border-radius: 5px;
  width: fit-content;
}

.article-votes {
  font-weight: bold;
}

.vote-button {
  background-color: purple;
  color: white;
  border-radius: 10px 0 0 10px;
}

.vote-button:active {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
}

.vote-button-down {
  background-color: purple;
  color: white;
  border-radius: 0 10px 10px 0;
}

.vote-button:active {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
}

.error {
  color: red;
  font-weight: bold;
}

.comments {
  text-align: left;
  padding-top: 50px;
}

.comments-header {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.comments-tiles {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid rgb(155, 154, 154);
}

.comment-author {
  color: blue;
  font-size: 0.8rem;
  font-weight: bold;
}

.comment-votes {
  color: blue;
  font-size: 0.75rem;
  font-weight: bold;
}

.comment-vote-count {
  color: rgb(88, 88, 88);
}

.comment-date {
  color: rgb(88, 88, 88);
}

.comment-box {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 80%;
}

.comment-add-button {
  background-color: purple;
  color: white;
  border-radius: 10px;
}

.comment-add-button:active {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
}

.username-box {
  border-top: none;
  border-left: none;
  border-right: none;
}

.dropbtn {
  background-color: purple;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.dropbtn:active {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
}

.order-by-buttons {
  background-color: purple;
  color: white;
  border-radius: 10px;
}

.order-by-buttons:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: purple;
  color: white;
  font-size: 0.75rem;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px navy;
  z-index: 1;
  right: 0;
  border-radius: 10px;
}

.dropdown-content a {
  color: white;
  font-size: 0.75rem;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content :hover {
  min-height: 20px;
  background-color: rgb(70, 2, 70);
  border-radius: 5px;
  border: 1px solid blueviolet;
  background-repeat: no-repeat, no-repeat;
  background-position: 5px, 167px;
  background-size: 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(70, 2, 70);
}

.curr-user_avatar {
  width: 19px;
  height: 19px;
  border-radius: 50%;
}

.users-card-avatar {
  max-width: 100px;
}

.user-tile {
  border-bottom: 10px solid rgb(155, 154, 154);
}

.change-user-button {
  background-color: purple;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.change-user-button:active {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
}

.comment-delete-button {
  background-color: purple;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.comment-delete-button:active {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
}

@media screen and (min-width: 411px) {
  .App {
    font-size: 2rem;
  }

  .top-nav {
    font-size: 1.15rem;
  }

  .bottom-nav {
    font-size: 1.15rem;
  }

  .main {
    font-size: 0.9rem;
  }

  .article-list {
    font-size: 0.9rem;
  }

  .comment-author {
    font-size: 1rem;
  }

  .comment-votes {
    font-size: 0.9rem;
  }

  .dropbtn {
    font-size: 0.9rem;
  }

  .order-by-buttons {
    font-size: 0.9rem;
  }

  .curr-user_avatar {
    width: 20px;
    height: 20px;
  }

  .user-tile {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 600px) {
  body {
    background-color: rgb(226, 224, 224);
  }

  .App {
    font-size: 3rem;
  }

  .top-nav {
    font-size: 2rem;
  }

  .bottom-nav {
    font-size: 2rem;
  }

  .main {
    font-size: 2rem;
  }

  .article-list {
    font-size: 1.1rem;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(211, 206, 206);
    box-shadow: 1px 5px 5px rgb(199, 197, 197);
  }

  .comment-author {
    font-size: 1.25rem;
  }

  .comment-votes {
    font-size: 1.1rem;
  }

  .dropbtn {
    font-size: 1.1rem;
  }

  .order-by-buttons {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .curr-user_avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .user-tile {
    font-size: 1.1rem;
    list-style: none;
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(211, 206, 206);
    box-shadow: 1px 5px 5px rgb(199, 197, 197);
  }
}
