.App {
  text-align: center;
  background-color: white;
  color: blue;
  font-size: 1.5rem;
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header1"
    "nav1"
    "nav2"
    "main1";
  grid-template-rows: auto auto auto 1fr;
}

.title-split {
  color: purple;
  grid-area: header1;
}

.top-nav {
  background-color: navy;
  color: white;
  text-align: center;
  font-size: 1rem;
  padding: 2px;
  grid-area: nav1;
}

.bottom-nav {
  background-color: rgb(54, 54, 228);
  text-align: center;
  color: white;
  font-size: 1rem;
  padding: 2px;
  grid-area: nav2;
}

.main {
  text-align: left;

  font-size: 1rem;
  grid-area: main1;
}

.article-list {
  list-style: none;
  background-color: white;
  font-size: 0.75rem;
  /* border-top: 5px solid rgb(155, 154, 154); */
  border-bottom: 10px solid rgb(155, 154, 154);
}

.single-article {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

ul {
  padding: 1px;
  margin: 0;
}

.top-nav-links a {
  color: white;
  text-decoration: none;
}

.article-tile-links a {
  color: blue;
  text-decoration: none;
}

.article {
  color: black;
}

.article-date {
  color: rgb(88, 88, 88);
}

.topic-author-heading {
  text-transform: capitalize;
}

.votes {
  border: 5px solid purple;
  border-radius: 5px;
  width: fit-content;
}

.article-votes {
  font-weight: bold;
}

.vote-button {
  background-color: purple;
  color: white;
  border-radius: 10px;
}

.error {
  color: red;
  font-weight: bold;
}

.comments {
  text-align: left;
  padding-top: 50px;
}

.comments-header {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.comments-tiles {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid rgb(155, 154, 154);
}

.comment-author {
  color: blue;
  font-size: 0.8rem;
  font-weight: bold;
}

.comment-votes {
  color: blue;
  font-size: 0.75rem;
  font-weight: bold;
}

.comment-vote-count {
  color: rgb(88, 88, 88);
}

.comment-date {
  color: rgb(88, 88, 88);
}

.comment-box {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 80%;
}

.comment-add-button {
  background-color: purple;
  color: white;
  border-radius: 10px;
}

.username-box {
  border-top: none;
  border-left: none;
  border-right: none;
}

.dropbtn {
  background-color: purple;
  color: white;
  /* padding: 16px;
  font-size: 16px; */
  /* border: none; */
  cursor: pointer;
  border-radius: 10px;
  grid-area: dropdown;
}

.order-by-buttons {
  background-color: purple;
  color: white;
  border-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: purple;
  color: white;
  font-size: 0.75rem;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px navy;
  z-index: 1;
  right: 0;
  border-radius: 10px;
}

.dropdown-content a {
  color: white;
  font-size: 0.75rem;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content :hover {
  min-height: 20px;
  background-color: rgb(70, 2, 70);
  border-radius: 5px;
  border: 1px solid blueviolet;
  background-repeat: no-repeat, no-repeat;
  background-position: 5px, 167px;
  background-size: 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(70, 2, 70);
}

.curr-user_avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.users-card-avatar {
  max-width: 100px;
}

.user-tile {
  border-bottom: 10px solid rgb(155, 154, 154);
}

.change-user-button {
  background-color: purple;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.comment-delete-button {
  background-color: purple;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}
